@import "smart-grid.less";
@import "var.less";
@import "fonts.less";

.reset();

.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

.body {
	box-sizing: border-box;
}

// MIXINS START

.findinputs {
  //border: @border;
  display: flex;
  justify-content: space-around;    
  align-items: center;
  position: relative;      
  width: 50%;
  height: 100%;
  i {      
    //border: @border;
    position: absolute;
    left: 35px;
    color: @colordarkgray;
  }
  input {
    width: 90%;
    height: 60%;
    border-radius: 25px;      
    text-indent: 40px;      
    border: none;      
    outline: none;
    font-family: 'Play', sans-serif;
  }
}

.pplblocktext {  
  display: flex;
  justify-content: start;    
  align-items: center;
  height: 6%;
  span {      
    font-family: 'Play', sans-serif;      
    margin-left: 10px;
  }
}

// MIXINS END


.ff {    
  &__wrap {
    //border: @border;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @colordarkgray;
  }
  &__selectblock {
    //border: @border;
    width: 60%;
    height: 70%;
    border-radius: 12px;
  }
  &__selecthdr {
    display: flex;
    align-items: center;        
    height: 8%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;        
    background-color: @colororange;    
    span {
      font-size: 1.5rem;
      color: @colorlightgray;
      margin-left: 30px;
      font-family: 'Play', sans-serif;
      font-weight: bold;
    }
  }
  &__findfriends {    
    display: flex;
    justify-content: space-around;    
    align-items: center;
    height: 8%;
    background-color: @colorlightgray;        
  }
  &__findleft {
    .findinputs();
  }  
  &__findright {
    .findinputs();
  }
  &__peoples {
    //border: @border;
    display: flex;
    width: 100%;
    height: 76%;
    background-color: white;
  }
  &__pplleft {    
    width: 50%;
    border: 1px solid @colorgray;    
  }
  &__ppllefttext {
    .pplblocktext();
    border-bottom: 1px solid @colorgray;    
  }
  &__pplleftblock {
    //border: @border;    
    height: 94%;
    overflow: auto;
  }  
  &__leftblockfriend {
    //border: @border;
    border-bottom: 1px solid @colorgray;
    display: flex;
    height: 70px;
    &:hover {
      background-color: @colorlightgray;            
    }
  }
  &__frienddata {
    //border: @border;
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    span {
      font-family: 'Play', sans-serif;      
    }
  }
  &__friendadd {
    //border: @border;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    span {
      //border: @border;
      font-size: 2.5rem;
      font-weight: bolder;
      font-family: 'Play', sans-serif;      
      color: @colordarkgray;
      cursor: pointer;
    }
  }
  &__pplright {
    //border: @border;
    width: 50%;    
    border: 1px solid @colorgray;    
    overflow: auto;
  }
  &__rightblockfriend {
    //border: @border;
    border-bottom: 1px solid @colorgray;
    display: flex;
    height: 70px;
    color: red;
    &:hover {
      background-color: @colorlightgray;            
    }
  }
  &__pplrighttext {
    .pplblocktext();
    //border-top: 1px solid @colorgray;
    border-bottom: 1px solid @colorgray;
  }
  &__pplrightblock {
    //border: @border;    
    height: 94%;
    span:nth-child(1) {      
      transform: rotate(45deg);
    }
  }

  &__saveblock {
    //border: @border;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8%;
    background-color: @colorlightgray;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;        
    button {
      height: 70%;
      width: 120px;
      background-color: @colororange;
      font-family: 'Play', sans-serif;
      font-size: 1rem;
      color: white;
      border-radius: 12px;
      margin-right: 15px;
      border: none;
      outline: none;
      cursor: pointer;      
    }
  }
  


}
