@import "smart-grid.less";
@import "var.less";

.reset();

.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

.body {
	box-sizing: border-box;
}

.ff {  
  background-color: lightblue;  
  &__wrap {
    //border: @border;
    height: 100vh;
  }
  &__headerInfo {
    border: @border;
    height: 200px;
    width: 800px;
    background-color: lightcyan;
  }
}
